<a class="list-group-item clearfix" style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipeToBeDisplayed.name}}</h4>
        <p class="list-group-item-text">{{recipeToBeDisplayed.description}}</p>
    </div>
    <span class="pull-right">
        <img [src]="recipeToBeDisplayed.imagePath" alt="Image of {{recipeToBeDisplayed.name}}" class="img-responsive"
            style="max-height :50px;">
    </span>
</a>